.dark-mode{
    background-color: black;
    color: lightgray;
}

.nav_color{
    background-color: #d53711;
}


.toggle {
    display: block;
    position: relative;
    height: 29px;
    width: 68px;
    background-color: transparent;
    border-radius: 2vw;
    box-shadow: 1px 1px 7px black;
    cursor: pointer;
    border: 1px solid brown;
    margin-right: 1.5vw;
}

.toggle::after{
    content: " ";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #ffe121;
    transition: 0.5s;
}

.white::after{
    overflow: hidden;
    background: url('../assets/icons8-moon-man-40.png') white;
    background-size: cover;
    transform: translateX(154%);
    transition: 0.5s;
}