@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Calligraffitti&family=Coming+Soon&family=Fjalla+One&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Agdasima', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.signin {
    background-color: #3c404d;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 45px;
    color: lightgray;
    padding-right: 15px;
    font-size: 16px;
}

.signin div {
    margin: 0px 8px;
}

.signin svg {
    margin: 0px 5px;
}

.signin a {
    color: lightgray;
    /* text-decoration: none; */
    font-size: 19px;
}

.navbar {
    background-color: #ff5c35;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0px 1px 10px black;
    position: sticky;
    top: 0px;
    z-index: 2;
    /* left: 0px; */
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#logo img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid #464040;
    border-radius: 50%;
    box-shadow: 1px 2px 7px black;
}


.left a {
    margin: 0px 12px;
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.left a:hover,
#logo:hover,
.right svg:hover,
.signin a:hover,
.cookies span a:hover,
footer svg:hover,
.placement:hover,
.explore:hover,
.learn:hover,
.founder div a:hover {
    color: #ffe121;
    transition: all .3s;
    text-decoration: underline;
    border-color: #ffe121;
    cursor: pointer;
}


#logo:hover img {
    background-color: #ffe121;
    transition: all .3s;
    box-shadow: none;
}

.right {
    margin: 0px 12px;
    display: flex;
    align-items: center;
}

.right svg {
    height: 28px;
    color: #464040;
    margin: 0px 5px;
}

.rightbtn {
    border: 1px solid brown;
    /* border: 1px solid #ffe121; */
    border-radius: 3vw;
    box-shadow: 1px 1px 7px black;
    background: none;
    height: 3vw;
    width: 10vw;
    margin: 0 2vw;
}

.rightbtn:hover,
.btn:hover {
    background-color: #ffe121;
    border: #ffe121;
    scale: 0.98;
    cursor: pointer;
    box-shadow: 1px 1px 4px ghostwhite;
    transition: all .3s;
}

.rightbtn a,
.btn a {
    font-size: 19px;
    text-decoration: none;
    color: black;
}


.box1 {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 87vh;
}



.box1::before {
    background: url('../assets/bg2.webp') center center no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;

}

#content_box1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#content_box1 span {
    font-size: 3.5em;
    margin: auto;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
}

#content_box1 span:hover,
.box2 span:hover,
.box3 span:hover,
.card span:hover,
.box4 span:hover,
.aux_box span:hover,
#join:hover,
.container2 span:hover,
.container3 span:hover,
.founder span:hover,
.vision span:hover {
    /* scale: 1.02; */
    font-weight: bold;
    transition: all 0.4s;
}

#content_box1 p {
    font-size: 19px;
    margin-bottom: 2vw;
}

.btn {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ff5c35;
    background-color: #ffe121;
    width: 40%;
    margin: auto;
    box-shadow: 1px 1px 7px black;
}


.cookies {
    background-color: #3c404d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    position: sticky;
    bottom: 0;
    border-radius: 2px;
}

#cookiesbtn {
    margin: 0 3vw;
    height: 32px;
    width: 7%;
}

.cookies span a {
    color: lightgray;
    font-size: 17px;
}

.box2 {
    background-color: #f1f3f4;
    border: 1px solid #f1f3f4;
}


.box2 span,
.box3 span,
.box4 span,
.aux_box span,
.container2 span,
.container3 span,
.founder span,
.vision span {
    display: block;
    margin: 10px auto;
    font-size: 3.5em;
    text-align: center;
}

.pay {
    margin: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    margin: 0 6vw;
}

.card span,
.small_box span,
.founder p,
.about_content p{
    font-size: 2em;
    text-align: left;
}

.card p,
.box3 p {
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}

.pay img {
    width: 60px;
    animation: trans;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes trans {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
}

.box3 {
    background-color: rgb(210 229 245);
    border: 1px solid rgb(210 229 245);
    ;
    border-radius: 6px;
    margin: 5px 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box3_content {
    width: 30%;
    text-align: left;
}

.box3_img img {
    height: 35vw;
}

.consultbtn {
    margin: 2vw 0;
    width: max-content;
    padding: 0px 2vw;
}

.box4 {
    background-color: #fef4ea;
    border: 1px solid #fef4ea;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box4 img {
    width: 30%;
}

.box4_content img {
    width: 25px;
    rotate: -90deg;
    margin: -4px 5px;
    transition: all 0.4s;

}

.box4_content img:hover {
    filter: invert(1);
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.f-c {
    flex-direction: column;
}

.box4 div h3 {
    font-size: 2em;
}

.drop-menu {
    margin-top: 8px;
    font-size: 1.4em;
    display: none;
}

.m-3 {
    margin: 3vw 0;
}

.m-3 div {
    justify-content: flex-start;
}

.foot {
    background-color: #dbdbdb;
    padding: 1vw;
    border: 1px solid #dbdbdb;
}

.f-c span {
    margin: 0.5vw 0;
    font-size: 1.5em;
    color: #ff5c35;
    font-weight: bold;
}

hr {
    margin: 1vw;
}

footer svg {
    margin: 0 0.5vw;
    color: #464040;
}

.placement {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    align-self: flex-start;
}

.placement:hover {
    color: #e3c81b;
}

.app {
    width: 150px;
}

.app:hover {
    scale: 0.97;
}

#copy {
    text-align: center;
    font-size: 18px;
}

.aux_box {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    border: 1px solid rgb(253, 233, 251);
    background-color: rgb(253, 233, 251);
}

.motion {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vw;
    padding-top: 1vw;
}

.trans {
    display: flex;
    flex-direction: row;
    animation: translate;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.trans img {
    margin: 0 5vw;
    width: 14vw;
    height: 4vw;
    filter: brightness(0.7);
}

.trans img:hover {
    filter: brightness(1);
}

@keyframes translate {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}